# Data Science Tools and Ecosystem

**Objectives:**
- popular languages are python , julia, r programming
- it is a open source tool
- we can add comments, visualise in the notebook itself

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are: - 
1. python 
2. R programming 
3. julia

Some of the commonly used libraries used by Data Scientists include:- 
1. Pandas 
2. Numpy 
3. Matplotlib

| Data Science Tools |
| -----------------   |
|R Studio |
|Jupyter Notebooks| 
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python: -

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200 / 60

3.3333333333333335

## Author: - ## 

|Name|
|----|
|Ishaan Gupta|